/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #E19999; /* must change */
    color: #000; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    background: #E0CABC;
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete or change */
}

/* --- ADD YOUR STYLES BELOW --- */

figure {
    background: #B0C8FF;
}

aside {
    background: #E19999;
}

header {
    background: #BCDFE0;
}

footer {
    background: #BCDFE0;
}

/* --- add your PSEUDO CLASSES below this line --- */

a:link { color: maroon; }

a:visited { color: blue; }

a:focus { color: maroon; background-color: #B0C8FF; }

a:hover { color: maroon; background-color: #B0C8FF; }

a:active { color: red; background-color: #B0C8FF; }
